{% extends 'base.html' %}

{% block title %}Cards{% endblock %}

{% block js %}
<script src="/static/js/tradingCard.jsx" type="text/jsx"></script>
{% endblock %}


{% block body %}
<div class="grid">
  <div id="cards"></div>
  <!-- Mount Balloonicorn's card on to this element. -->
  <!-- <div id="balloonicorn"></div> -->

  <!-- Mount Float's card on to this element. -->
  <!-- <div id="float"></div> -->

  <!-- Mount Llambda's card on to this element. -->
  <!-- <div id="llambda"></div> -->

  <!-- Hange's card on to this element. -->
  <!-- <div id="hange"></div> -->

  <!-- G-Dragons's card on to this element. -->
  <!-- <div id="gdragon"></div> -->
</div>

{% endblock %}